body {
  margin: 0;
  font-family: sans-serif;
}

section {
  height: 100vh;
  padding:64px;
  box-sizing: border-box;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > * {
  transition: 0.5s cubic-bezier(.1, .8, .7, 1);
}

.section-0 {
  justify-content: center;;
}

.section-1 {
  --mescroll-offset: 100%;

  justify-content: center;
}

.section-2 {
  --mescroll-allow-overscroll: true;
}

.section-3 {
  --color: calc(255 * var(--mescroll-value));
  background-color: rgba(0, 0, 0, var(--mescroll-value));
  color: rgba(var(--color), var(--color), var(--color), 1);
}

.section-1 h2,
.section-2 h2 {
  width: 100%;
  text-align: center;
  transform: translate3d(var(--mescroll-percent), 0, 0);
}
.section-1 p,
.section-2 p {
  --inverted-percent: calc(-1 * var(--mescroll-percent));

  transform: translate3d(var(--inverted-percent), 0, 0);
}


.section-2 h2 {
  transform: translate3d(
    calc(100% - var(--mescroll-percent)),
    0, 0
  );
}

.section-2 p {
  transform: translate3d(
    calc(-100% + var(--mescroll-percent)),
    0, 0
  );
}


.section-3 {
  justify-content: space-between;
  overflow: visible;
}

.section-3 h2:last-child {
  position: sticky;
  bottom: 50%;
  transform: scale(var(--mescroll-value));
  opacity: var(--mescroll-value);
}

.section-3 h2:first-child {
  position: sticky;
  top: 0;
  transform: scale(calc(2 - var(--mescroll-value))); 
}
